.skill-card {
  width: 100%;
  overflow: hidden;
}

.icon {
  height: 12rem;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-detail {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: var(--color-primary-bg);
  line-height: 1.7;
}
.rate {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.rate li {
  font-size: 2.2rem;
}

.skill-desc {
  color: var(--color-primary-accent);
  line-height: 1.3;
  font-size: 1.2rem;
}
