.card {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-primary);
  border-radius: 4px;
  overflow: hidden;
}

@media (max-width: 37.5em) {
  .card {
    box-shadow: none;
    border: 1px solid var(--color-primary-accent);
  }
}
