.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

@supports (backdrop-filter: blur(2px)) or (-webkit-backdrop-filter: blur(2px)) {
  .overlay {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: transparent;
  }
}
